/* default settings for whole page */
body {
  margin: 0 0; /* override webkit borders */
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* set the size of the headers thorughout the document. This will set the
   spacing around all of these correctly. */
h2, h3, h4 {
  margin: 0; /* remove the margin and allow the padding to provide the spacing */
  padding: 10px;
}

/* header and Nav */
header {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 10;

  background-color: black; /* to keep things from showing through */
  border-bottom: 1px solid seashell;
  height: 65px;
  width: 100%;
}

header .logo {
  display: inline-flex;
  flex-grow: 1;
  margin-left: 10px; /* add space between image and text */
}

header .logo img {
  height: 50px;
}

header nav {
  margin-right: 10px; /* push entire nave to the left */
}

nav span {
  display: inline-block;
  margin-left: 10px; /* allows space between items without affecting the location */
}

nav a {
  color: seashell; /* override webkit colors */
}

/* Main Body */
.main {
  position: relative;
  padding-top: 70px;  /* space for the header */

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hero graphic placement for both mission statement and location sections */
.hero {
  display: flex;
  align-items: center;
}

/* container that just sets the width of the section */
.content {
  width: 1200px;
}

.hero.mission {
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
}

.hero .text {
  background-color: black;
}

/* Featured Teas */
.featured-teas {
  display: flex;
  flex-direction: column;

  width: 1000px;
  padding: 68px;
}

/* list will get used for both the featured teas and the locations */
.list {
  display: inline-flex;;
  justify-content: center;
  flex-wrap: wrap;
}

/* How to display tea items in the list */
.tea-item {
  display: block;
}

.tea-item img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.tea-item span {
  display: block;
  margin: 0px;
  padding-bottom: 15px;
}

/* locations */
.hero.location {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
}

/* How to display location items in the list */
.location-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 300px;
  width:  300px;
  opacity: 1;
  margin: 5px 20px; /* "location" is h4 which is already padded to 10px. */
  background-color: black;
}

/* set the size of the Contact Us section */
.contact {
  height: 200px;
}

/* footer magic */
footer {
  width: 100%;
}

footer h5 {
  margin-left: 20px;
  text-align: left;
}
