/* uncomment for test
div {
  border: 1px solid purple;
  margin: 3px;
}
*/

body {
  margin: 0 0; /* override webkit borders */
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* header */
header {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 10;

  background-color: black; /* to keep things from showing through */
  border-bottom: 1px solid seashell;
  height: 80px;
  width: 100%;
}

header .logo {
  color: MediumAquamarine;
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

header .logo img {
  margin-right: 10px; /* add space between image and text */
}

header nav {
  padding-right: 40px; /* push entire nave to the left */
}

/* nav settings apply to both header and footer */
nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: black;
}

/* Main Body */
